//Colores 
$principal: #2F402C; // Fondo, encabezados, botones principales
$secundario: #6D8C53; // Fondos suaves, secciones secundarias
$iconos: #A6BC6A; // Íconos, hover en botones
$botones: #B64538; // Llamadas a la acción, acentos
$titulos: #DB6B5E; // Títulos destacados, etiquetas
$claro: #F4F0E3; // Fondo general claro, texto sobre fondo oscuro